*{padding:0 0 0 0 ;margin: 0 0 0 0}
.col-1{grid-column: span 1;}
.col-2{grid-column: span 2;}
.col-3{grid-column: span 3;}
.col-4{grid-column: span 4;}
.col-5{grid-column: span 5;}
.col-6{grid-column: span 6;}
.col-7{grid-column: span 7;}
.col-8{grid-column: span 8;}
.col-9{grid-column: span 9;}
.col-10{grid-column: span 10;}
.col-11{grid-column: span 11;}
.col-12{grid-column: span 12;}

.heading{
    color: red;
    text-align: center;
    margin-bottom: 30px;
}
.sub-heading{
    color: rgb(210, 57, 30);
    text-align: center;
    margin-bottom: 30px;
}
.header{
    padding: 15px;
    background-color: darkgreen;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    min-height: 50px;
}
.header:hover{
    box-shadow: 0px 4px 6px rgba(0,0,0,0.4);
}
.logo{
    text-align: left; 
    align-items: left;
    grid-column: 1;
    grid: span 1;
}
.frame{
    padding: 5px 15px;
    border: 5px ridge white;
    font-size:20px;
    width: fit-content;
    color: white
}
.slogan{
    grid-column: span 1;
    grid-column: 2;
    text-align: center;
}
.manu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.index, .schedule, .treatments, .reflection{
    grid: span 1;
    text-align: center;
    text-decoration: none;
    color: white;
}
.index:hover, .schedule:hover, .treatments:hover, .reflection:hover{
    color: cyan;
}
.footer{
    background-color: black;
    color:white;
    padding: 30px;
    align-items: center;
    text-align: center
}
.main_content{
    background-color: beige;
    color: black;
    padding: 30px 100px;
    text-align: center;
}
.img{
    align-items: center;
    text-align: center;
    align-content: center;
} 
.treatments-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin: 20px;
}   

.treatment-card{
    border: 2px solid black;
    padding: 15px;
    background-color: white;
}
.treatment-card img{
    width: 100%;
    display: block;
}
.treatment-card hr{
    margin: 15px 0;
}
.card-title,.card-price{
    text-align: center;
    margin: 8px 0;
}
table, tr, td, th{
    border: 1px black solid;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    justify-items: center;
}
td, th{
    padding: 10px;
    font-size: 20px;
}
tr td:first-child, th{
    background-color: black;
    color:white;
}